<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transport.organelles.transport_">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.usb.accessory" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.BLUETOOTH"  android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forms.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".forms.frmMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".forms.frmSync"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmDispatch"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmInspector"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmPartial"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmIngress"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.ActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmTicket"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.frmArrival"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forms.frmDispatchfromTerminal"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forms.frmReverse"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.transport.organelles.transport_.classforms.DeviceListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ACTIVITY STARTED FROM?RETURNING TO" />
        </activity>
        <activity
            android:name=".forms.frmExpense"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />



    </application>



</manifest>